.row_poster::-webkit-scrollbar {
    display: list-item;
}

.img-poster {
    width: 100%;
    max-width: 120px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 450ms;
}

.row_poster {
    display: inline-flex;
    overflow-y: hidden;
    padding: 20px;
}

.img-poster:hover{
    transform: scale(1.80);
}

h2 {
    text-align: left;
    margin-left: 40px;
}